<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UsersDataStore" connectionString="Data Source=C:\Users\Den\source\repos\ShlyashApi2\webApi\App_Data\User.sqlite;" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <entityFramework>
    <contexts>
      <context type="ShlyahApi.UserStore.DBContexts.SQLiteDBContext, ShlyahApi">
        <databaseInitializer type="ShlyahApi.UserStore.Seeds.UserSeed, ShlyahApi" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
    
  </entityFramework>
  <DbProviderFactories>
    <remove invariant="System.Data.SQLite.EF6"/>
    <add name="SQLite Data Provider" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.EF6.SQLiteProviderFactory,                      System.Data.SQLite.EF6,                      Version=1.0.112.0,                      Culture=neutral,                      PublicKeyToken=db937bc2d44ff139" />
  </DbProviderFactories>
</configuration>
